<phpunit colors="true" backupGlobals="FALSE"
	backupStaticAttributes="FALSE" syntaxCheck="FALSE" stopOnFailure="FALSE"
	convertErrorsToExceptions="true" convertNoticesToExceptions="true"
	convertWarningsToExceptions="TRUE">

	<testsuites>
		<testsuite name="languagevisibility">
			<directory suffix="testcase.php">.</directory>
		</testsuite>
	</testsuites>

	<php>
		<ini name="memory_limit" value="50000M" />
		<ini name="max_execution_time" value="5000" />
	</php>
</phpunit>